@font-face {
  font-family: Open-Sans;
  src: url('../fonts/Open-Sans.eot?') format('eot'), 
  url('../fonts/Open-Sans.woff') format('woff'),
  url('../fonts/Open-Sans.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/Open-Sans.ttf') format('truetype');
}

 @mixin res($media) {
  @if $media == s {
    @media (max-width: 480px) { @content; }
  }
  @else if $media == m {
    @media (min-width: 481px) and (max-width: 767px) { @content; }
  }
  @if $media == s-m {
    @media (max-width: 767px) { @content; }
  }
    @if $media == l {
    @media (min-width: 768px) and (max-width: 1024px) { @content; }
  }
}

$pink: #ffefe1;
$default: #666666;
$title-orange: #d56625;
$orange: #ef8f3b;
$orange-h: #ffaf66;

@mixin width(){
  width: 1340px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
}

@mixin button(){
  padding: 5px 10px;
  background-color: $orange;
  color: #fff;
  border-radius: 7px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  &:hover{
    background-color: $orange-h;
  }
}



/**************************************************
                    global  
**************************************************/
a, a:link, a:visited{
  text-decoration: none;
  outline: 0;
}

textarea:focus, input:focus{
    outline: 0;
}

body{
  font-size: 15px;
  color: $default;
  font-family: Open-Sans;
  a{
    color: $default;
  }
}

*:focus {
    outline: 0;
    outline-style:none;
    outline-width:0;
}

#wrapper-main{
    background-color: #f0f0f0;
    @include res(s-m){
      background-color: #fff;
    }
}


.not-front #main{
  @include width;
  #content{
    padding: 0 2%;
    background-color: #fff;
    padding-bottom: 30px;
    overflow: hidden;
    @include res(s-m){
      padding: 0 2%!important;
    }
  }
}

#page, .region-bottom{
  max-width: 100%;
  padding: 0;
  width: 100%;
}

img{
  margin-bottom: -6px;
}

.block{
  margin-bottom: 0;
}

.phone a{
    pointer-events: none;
    cursor: default; 
    color: $default;
    @include res(s-m){
      pointer-events: auto;
      cursor: pointer;    
    }
}

.title{
  padding-top: 5px;
  #page-title{
    @include width;
    color: $title-orange;
    font-size: 3em;
    font-weight: bold;
    padding-right: 0;
  }
}
/**************************************************
                    top   
**************************************************/
#header{
  @include width;
  #navigation{
    position: relative;
    float: left;
    width: auto;
    clear: left;
    padding: 0;
  } 
  #logo{
    max-width: 36%;
    float: right;
    padding: 11px 0 16px;
  }
  .region-header{
    float: left;
    clear: none;
  }
}

.pink-line{
  position: absolute;
  background-color: $pink;
  width: 50%;
  left: 0;
  height: 33px;
  z-index: -1;
  &:after{
    content:""; 
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 33px 33px 0 0;
    border-color: $pink transparent transparent transparent;
    display: block;
    position: absolute;
    right: -33px;
  }
}

#block-block-3{
  .phone{
    background: url("../images/phone.png") no-repeat scroll left center transparent;
    padding-left: 27px;
    padding-right: 10px;
    margin: 4px 0;
    float: left;
    @include res(s-m){
      padding-top: 5px;
    }
  }
  .email{
    background: url("../images/email.png") no-repeat scroll left center transparent;
    padding: 0 10px 0 27px;
    margin: 4px 0;
    float: left;
    @include res(s-m){
      clear: left;
    }
  }
}

/**************************************************
                    footer 
**************************************************/

.wrapper-bottom{
  background-color: #4d4d4d;
  overflow: hidden;
  .region-bottom{
    @include width;
    color: #fff;
    padding: 6px 3%  31px;
    a{
      color: $orange;
      &:hover{
        color: $orange-h;
      }
    }
    #block-block-1{
      float: right;
      @include res(s-m){
        width: 100%;
        text-align: center;
      }
    }
    #block-block-2{
      float: left;
      @include res(s-m){
        width: 100%;
        text-align: center;
        margin: 20px 0 20px;
      }
      img{
        margin: 0 0 -4px 13px;
      }
    }
    p{
      margin: 0;
    }
  }
}

.not-front .footer-wrapper{
  background-color: #1a1a1a;
  padding-bottom: 20px;
  #footer{
    @include width;
    .block{
      float: right;
      width: 25%;
      padding-left: 3%;
      box-sizing: border-box;
      padding-top: 17px;
      @include res(s-m){
        width: 100%;
        padding: 0;
      }
      h2{
        color: #fff;
        font-weight: normal;
        @include res(s-m){
          text-align: center;
        }
      }
    }
    #block-webform-client-block-67{
      padding-left: 0%;
      padding-top: 21px;
      @include res(s-m){
        width: 100%;
        padding:0;
        margin-bottom: 10px;
        margin-top: 20px;
      }
      .webform-component--name{
        margin-top: 0;
      }
      input.form-submit{
        border:1px solid $orange;
      }
      input{
        height: 28px;
      }
      label{
        padding: 1px 10px;
      }
      input.webform-submit{
        padding: 0;
      }
    }
      #block-views-services-block-2--2, #block-views-services-block-2{
        @include res(s-m){
          display: none;
        }
        .view-content{
      line-height: 1.78em;
      margin-top: -2px !important;
        }
      }
    #block-menu-block-3{
      @include res(s-m){
        margin-top: 10px;
        h2{
          display: none;
        }
        li{
          display: inline;
        }
      }
    }
    .block-menu-block, #block-views-services-block-2--2, #block-views-services-block-2{
      h2{
        padding-right: 16px;
        @include res(s-m){
          padding: 0;
        }
      }
      ul, .view-content{
        padding-right: 10px;
        margin: -5px 0 0 0;
        border-right: 3px solid #4d4d4d;
        @include res(s-m){
          border: none;
          padding: 0;
          text-align: center;
        }
      }
      li{
        list-style-image: none;
        list-style-type: none;
        margin: 0;
        @include res(s-m){
          text-align: center;
        }
      }
      a{
        color: #fff;
        padding-right: 4px;
      }
      li.is-active a , li:hover a, a.active, a:hover{
        background-color: #4d4d4d;
        display: block;
        border-radius: 7px 0 0 7px;
        @include res(s-m){
          background-color: transparent;
          display: inline;
        }
      }
    }
    #block-views-text-site-block-1{
      padding-left: 8%;
      float: right;
      color: #fff;
      @include res(s-m){
        display: none;
      }
      p{
        margin: 0;
      }
    }
  }
}

.news-wrapper{
    background-color: #4d4d4d;
    overflow: hidden;
    @include res(s-m){
      display: none;
    }
    #block-views-news-block{
      @include width;
      color: #e6e6e6;
      a{
        color: #fff;
      }
      h2{
        padding-left: 16px;
      }
      li{
        list-style-type: none;
        clear: right;
        margin-bottom: 0!important;
      }
      .view-content{
        width: 80%;
        float: right;
      }
      .view-footer{
        width: 20%;
        float: left;
        p{
          margin: 0;
        }
        a{
          color: #fff;
          font-weight: normal;
          background-color: #808080;
          border-radius: 7px;
          padding: 2px 10px;
          margin: -11px 0 12px;
          float: left;
        }
      }
      ul{
        padding: 0;
        margin: 0;
      }
      li{
        margin-bottom: 20px;
      }
      .views-slideshow-cycle-main-frame-row{
        left: auto!important;
        float: right;
        width: 100%!important;
      }
      .views-slideshow-cycle-main-frame{
        width: 80%!important;
        float: right;
        margin: 10px 0;
      }
    }
  }

.bx-wrapper .bx-viewport {
    background: transparent;
    border: none;
    box-shadow: none;
    left: 0;
}
/**************************************************
                    main menu   
**************************************************/
#main-menu{
  margin-top: 34px;
  a{
    font-size: 1.5em;
    padding: 0px 9px;
    @include res(l){
      font-size: 1em;
      padding: 0 3px;
    }
    &:hover{
      background-color: $title-orange!important;
      border-radius: 7px;
      color: #fff;
      background-image: none!important;
      padding-bottom: 5px;
    }
    &.active{
      background: url("../images/menu-circle.png") no-repeat scroll center bottom transparent;
      padding-bottom: 5px;
    }
  }
  li{
    padding: 0 10px 0 0!important;
  }
}

@media (min-width: 1025px) and (max-width: 1126px) { 
  #main-menu{
    a{
      padding: 0 3px;
      font-size: 1.3em;
    }
  }
}


.mean-nav{
  li{
    padding: 0!important;
    a{
      text-align: center!important;
    }
  }
}

.admin-expanded{
  #main-menu a{
    padding: 0 4px;
  }
}
/**************************************************
                   sidebar  
**************************************************/


.sidebar-first #content {
    float: left!important;
    margin-left: 0!important;
    margin-right: 0!important;
    width: 80%!important;
    padding-bottom: 50px!important;
    padding-right: 30px!important;
    @include res(s-m){
      width: 100%!important;
      padding-right: 0!important;
    }
    img{
      margin: 0 auto;
      display: block;
    }
}

.region-sidebar-first{
  padding-right: 0;
  margin-left: 0!important;
  width: 20%!important;
  @include res(s-m){
      width: 100%!important;
      border:1px solid #b5b5b5;
      margin: 10px 0;
      li{
        text-align: center;
      }
  }
  ul{
    padding: 0;
    @include res(s-m){
      margin: 0;
    }
  }
  li{
    list-style-type: none!important;
    list-style-image: none!important;
    margin: 0!important;
    padding: 0 0 2px 0;
  }
  li.last{
    padding: 0;
  }
  .views-row{
      padding: 0 0 2px 0;
  }
  a{
    color: $orange;
    font-size: 1.2em;
    line-height: 2em;
    text-align: left;
    display: block;
    width: 100%;
    padding-left: 10px;
    @include res(s-m){
        text-align: center;
    }
  }
  .is-active a, li:hover a, a.active, a:hover{
    background-color: $orange;
    color: #fff;
    border-radius: 0 7px 7px 0;
    @include res(s-m){
        border-radius: 0;
    }
  }
  .block-views{
    padding-top: 24px;
  }
}

.no-sidebars #content{
  background-color: #fff!important;
}

/**************************************************
                   front  
**************************************************/

.front-image .gray-line{
  background-color: #cbcbcb;
  height: 12px;
  opacity: 0.8;
}

.front{
  #page-title{
    display: none;
  }
  #main{
    max-width: 100%;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background: url("../images/texture.jpg") repeat scroll center bottom transparent;
  }
  #content{
    padding: 0;
  }
  .article-wrapper{
    article{
      @include width;
      text-align: center;
      h1{
        margin: 0;
        color: $title-orange;
        line-height: 2em;
      }
    }
  }
  .field-name-body{
    width: 1050px;
    max-width: 100%;
    margin: 0 auto;
    font-size: 1.4em;
    line-height: 1.3em;
    strong{
      margin: 25px 0 18px;
      display: block;
    }
  }
  .button a{
    @include button;
  }
  .region-content-bottom{
    background: url("../images/Seperate.png") no-repeat scroll center top transparent;
    opacity: 0.8;
    margin-top: 30px;
    #block-views-services-block-1{
      position: relative;
      top: 60px;
      background-color: $orange;
      padding: 0px 3% 63px;
      overflow: hidden;
      h2{
        @include width;
        font-size: 3em;
        color: #fff;
        text-align: center;
      }
      .view-services{
        @include width;
        width: 1150px;
        text-align: center;
        .views-row{
          float: right;
          width: 23%;
          margin-bottom: 30px;
          background-position: center 92%;
          padding-bottom: 38px;
          transition: all 0.5s;
          -webkit-transition: all 0.5s;
          &:hover{
              background: url("../images/service-circle.png") no-repeat scroll center 92% $pink;
              a{
                color: $default;
                border-bottom: 1px solid $orange;
              }
          }
          @include res(s-m){
            width: 100%;
          }
          a{
            color: #fff;
            font-size: 1.5em;
            font-weight: bold;
            border-bottom: 1px solid #fff;
            padding: 103px 0 5px;
            display: block;
            margin: 5px;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            @include res(s-m){
              border: none;
            }
          }
        }
        .views-row-1{
          margin-left: 15.5%;
          a{
            background: url("../images/service-1.png") no-repeat scroll center top transparent;
          }
        }
        .views-row-2{
          margin-left: 15.5%;
          a{
            background: url("../images/service-2.png") no-repeat scroll center top transparent;
          }
        }
        .views-row-3{
          a{
            background: url("../images/service-3.png") no-repeat scroll center top transparent;
          }
        }
        .views-row-4{
          margin-left: 15.5%;
          a{
            background: url("../images/service-4.png") no-repeat scroll center top transparent;
          }
        }
        .views-row-5{
          margin-left: 15.5%;
          a{
            background: url("../images/service-5.png") no-repeat scroll center top transparent;
          }
        }
        .views-row-6{
          a{
            background: url("../images/service-6.png") no-repeat scroll center top transparent;
          }
        }
      }
    }
  }
}

/**************************************************
                   page  
**************************************************/

.field-name-field-gallery{
  .field-item{
    width: 30%;
    margin-left: 3%;
    border:1px solid;
    float: right;
    margin-bottom: 20px;
    @include res(l){
      width: 47%;
      margin-left: 2%;
    }
   @include res(m){
      width: 47%;
      margin-left: 2%;
    }
    @include res(s){
      width: 100%;
      margin: 0 0 20px 0;
    }
  }
}

.field-name-field-image, .field-name-field-service-image{
  float: left;
  margin: 0 30px 30px 0;
  @include res(s-m){
    width: 100%;
    img{
      margin: 0 auto;
      display: block;
    }
  }
}

/**************************************************
                   newsletter  
**************************************************/

.field-name-field-pdf{
  display: none;
}

#block-views-newsletter-block-1, #block-views-news-block-1{
  .views-field-title{
    font-size: 2em;
    color: $orange;
    margin-bottom: 10px;
  }
  .views-field-view-node{
    text-align: left;
    font-weight: bold;
  }
  .views-row{
    border-bottom: 1px solid $orange;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .views-row-last{
    border-bottom: none;
  }
}

.node-type-newsletter{
  .pdf-link, .field-type-link-field {
    margin-top: 20px;
    a{
      @include button;
    }
  }
}
/**************************************************
                   subsidiary & services 
**************************************************/

.node-type-subsidiary{
  .field-name-field-lat-lng{
    float: left;
    margin: 0 3% 30px 0;
    width: 57%;
    box-sizing: border-box;
    @include res(s-m){
      display: none;
    }
  }
  .field-name-body{
    clear: both;
  }
  .field-type-text, .field-type-email{
    width: 40%;
    float: right;
    @include res(s-m){
      width: 100%;
    }
  }
  .field-name-field-link-site{
    margin-top: 10px;
    float: right;
    a{
      @include button;
      background-color: #c8c8c8;
    }
  }
}

#block-views-subsidiary-block, #block-views-services-block{
  .views-row{
    float: right;
    width: 30%;
    margin-left: 3%;
    border: 1px solid #9f9f9f;
    padding: 20px;
    box-sizing:border-box;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 30px;
    @include res(s-m){
      width: 100%;
      margin: 0 0 30px 0;
    }
    @include res(l){
      width: 48%;
      margin-left: 2%;
    }
  }
  .views-field-title{
    font-size: 2em;
    color: $title-orange;
    height: 30px;
  }
  .views-field-view-node a{
    @include button;
  }
  .views-field-body{
    height: 243px;
    @include res(s-m){
      height: auto;
    }
  }
  .views-field-field-teaser{
    margin: 20px 0;
    height: 103px;
    @include res(s-m){
      height: auto;
    }
  }
}

#block-webform-client-block-61{
  position: relative;
  input, textarea{
    border:1px solid $default;
    border-radius: 7px;
  }
  .webform-component-textfield, .webform-component-email{
    float: right;
    margin: 5px 0 5px 4%;
    width: 48%;
    @include res(s-m){
      width: 100%
    }
  }
  .webform-component-textarea{
    float: left;
    width: 48%;
    left: 0;
    position: absolute;
    margin-top: 5px;
    @include res(s-m){
      width: 100%;
      position: relative;
    }
  }
  .webform-component--service, .grippie{
    display: none;
  }
  .form-actions{
    clear: both;
  }
  input.form-submit{
    border: 1px solid $orange;
    float: left;
    width: 48%;
    @include res(s-m){
      width: 100%;
    }
  }
}

.sidebars #block-views-services-block-2{
  h2{
    display: none;
  }
}
/**************************************************
                   team  
**************************************************/

#block-views-team-block{
  .views-field-field-team-image{
    float: right;
    width: 30%;
    img{
      border:1px solid #b5b5b5;
      padding: 5px;
    }
    @include res(s-m){
      width: 100%;
      max-width: 100%;
      margin: 0;
      img{
        margin: 0 auto 5px;
        display: block;
      }
    }
  }
  .views-row {
    clear: both;
    margin-bottom: 50px;
    overflow: hidden;
    @include res(l){
      margin-top: 50px;
    }
    @include res(s-m){
      text-align: center;
      margin-bottom: 30px;
    }
  }
  .views-row-first{
    margin-top: 0;
  }
  .views-field-field-role{
    font-size: 2em;
    color: $title-orange;
    padding-bottom: 20px;
    display: block;
    @include res(s-m){
      padding-bottom: 5px;
    }
  }
  a{
    color: $title-orange;
    padding-top: 5px;
  }
  .views-field-field-role, .views-field-field-description, .views-field-field-mail{
    width: 69%;
    float: left;
    @include res(s-m){
      width: 100%;
    }
    @include res(l){
      width: 66%;
    }
  }
}

/**************************************************
                   jobs  
**************************************************/

#block-views-jobs-block{
  .views-field-title a{
    color: $title-orange;
    font-size: 1.7em;
  }
  .views-field-view-node{
    text-align: left;
    margin-top: 20px;
    a{
      font-weight: bold;
    }
  }
  .views-row{
    border-bottom: 1px solid #b5b5b5;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .views-row-last{
    border: none;
  }
}

.node-type-job{
  article{
    width: 70%;
    float: right;
    @include res(s-m){
      width: 100%;
    }
    @include res(l){
      width: 100%;
    }
  }
  .region-content-bottom{
    width: 30%;
    float: left;
    @include res(s-m){
      width: 100%;
    }
    @include res(l){
      width: 100%;
    }
  }
  .field-name-field-requir{
    p{
      margin: 0;
    }
  }
}

#block-webform-client-block-63{
  .webform-component--job-title, .webform-component--emailsend{
    display: none;
  }
  .webform-component-file{
    label{
      position: relative;
      padding-right: 0;
      font-weight: bold;
    }
    input{
      padding: 0;
      margin-left: 5px;
      width: 80%;
      float: right;
      max-width: 202px;
    }
    input.form-submit{
      width: auto;
      float: right;
      padding: 5px 10px;
    }
    .description{
      clear: both;
    }
  }
}

/**************************************************
                   webform  
**************************************************/

.block-webform, .webform-client-form{
  input{
    height: 37px;
    border-radius: 7px;
    border:1px solid #f0f0f0;
    padding: 5px 10px;
    @include res(s-m){
      width: 100%;
    }
  }
  input:focus{
    border: 2px solid $orange;
  }
  label{
    font-weight: normal;
    padding: 5px 10px;
  }  
  .form-required{
    display: none;
  }
  .form-submit{
    @include button;
    width: 100%;
  }
  .form-item{
    margin: 12px 0 ;
  }
}

/**************************************************
                   custonmer  
**************************************************/

#block-views-customer-block{
  h3{
    font-size: 2em;
    clear: both;
    padding: 55px 0 0px;
    display: block;
    border-bottom: 1px solid $orange;
    color: $orange;
  }
  .views-row{
    width: 12%;
    margin-left: 2%;
    float: right;
    margin-bottom: 10px;
    @include res(l){
      width: 17%;
    }
    @include res(m){
      width: 23%;
    }
    @include res(m){

    }
  }
  img{
    border:1px solid #b5b5b5;
    padding: 2px;
  }
  .views-field-title{
    font-size: 0.9em;
    height: 32px;
    line-height: 1em;
    margin-top: 3px;
    text-align: center;
  }
}

/**************************************************
                   contact  
**************************************************/

.page-node-65{
  p{
    margin: 0;
  }
  #main #content{
    padding:  0;
  }
  article{
      background-color: #3f3f3f;
  }
  #page-title{
    padding: 0 2%;
  }
  #webform-client-form-65{
    position: relative;
    width: 50%;
    float: right;
    background-color: #f0f0f0;
    padding: 0 2%;
    padding-bottom: 30px;
    box-sizing: border-box;
    @include res(s-m){
      width: 100%;
    }
    @include res(l){
      width: 100%;
    }
    .webform-component-markup{
      h2{
        font-size: 1.5em;
        color: $orange; 
        margin: 0;      
      }

    }
  }
  .webform-component-file{
    label{
      position: relative!important;
      padding-right: 0;
      font-weight: bold;
    }
    input{
      padding: 0;
      width: auto;
    }
    input.form-submit{
      width: auto;
      float: right;
      padding: 5px 10px;
    }
  }
  input, textarea{
    border:1px solid $default;
    border-radius: 7px;
    width: 100%;
  }
  .webform-component-textfield, .webform-component-email{
      width: 100%
  }
  .webform-component-checkboxes{
    label{
      position: relative!important;
      padding-right: 0;
      font-weight: bold;
    }
    input{
      width: 20px;
    }
    label.option{
      font-weight: normal;
      position: absolute!important;
      padding-right: 10px;
    }
    .form-type-checkbox{
      width: 45%;
      float: right;
      margin: 0;
      height: 24px;
      @include res(s){
        width: 100%;
      }
    }
  }
  .grippie{
    display: none;
  }
  .form-actions{
    clear: both;
  }
  input.form-submit{
    border: 1px solid $orange;
    float: left;
    width: 100%;
    @include res(s-m){
      width: 100%;
    }
    @include res(l){
      width: 100%;
    }
  }
  .webform-component-textarea{
    clear: both;
    padding-top: 30px;
  }
  .field-name-body{
    font-size: 1.2em;
    padding: 0 2%;
    background-color: #fff;
    overflow: hidden;
    h2{
      color: $title-orange;
      font-weight: bold;
      margin: 0;
    }
    .right{
      width: 45%;
      float: right;
      @include res(s-m){
        width: 100%;
      }
    }
    .left{
      width: 45%;
      float: left;
      @include res(s-m){
        width: 100%;
      }
    }
  }
}

.customer{
  float: left;
  width: 50%;
  padding: 0 2%;
  padding-bottom: 30px;
  box-sizing: border-box;
  @include res(s-m){
      width: 100%;
  }
  @include res(l){
      width: 100%;
  }
  .views-row{
      margin-top: 10px;
      overflow: hidden;
  }
  .view-text-site{
    color: #fff;
    padding-bottom: 20px;
    .views-field-title{
      h2{
        font-size: 1.5em;
        color: $orange; 
        margin: 0;   
        padding-top: 11px;   
      }
    }
  }
  .view-team.view-display-id-block_1{
    font-size: 1.2em;
    color: #fff;
    .views-row{
      @include res(s-m){
        overflow: hidden;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $title-orange;
      }
    }
    .views-row-last{
      border:none;
    }
    .views-field-field-mail{
      float: left;
      @include res(s-m){
        width: 100%;
        text-align: center;
      }
      a{
        color: $title-orange;
      }
    }
    .views-field-field-role{
      float: right;
      clear: both;
      @include res(s-m){
        width: 100%;
        text-align: center;
      }
    }
  }
}

/******* checkbox  **********/

.webform-component-checkboxes .form-item {
  input[type=checkbox].form-checkbox {
      /*position: absolute; */
      overflow: hidden; 
      clip: rect(0 0 0 0); 
      height:1px; 
      width:1px; 
      margin:-1px; 
      padding:0;
      border:0;
  }
  input[type=checkbox].form-checkbox + label.in-field-labels-processed {
      padding-right:33px;
      height:15px; 
      display:inline-block;
      line-height:15px;
      background-repeat:no-repeat;
      background-position: right 3px;
      font-size:14px;
      vertical-align:middle;
      cursor:pointer;
      margin-right: 0px;
      position: relative;
      padding-top: 7px;
  }
  input[type=checkbox].form-checkbox:checked + label.in-field-labels-processed {
      background-position: right -24px;
  }
  input.form-checkbox{
    display: none;
  }
  .in-field-labels-processed{
      background-image:url("../images/checkbox.png");
  }
  .form-type-checkbox label:after{
    content: none;
  }
}